<head>

  <!-- meta -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
  <meta name="description" content="Queen's Entrepreneurs Competition, the largest Canadian undergraduate startup competition">

  <!-- title -->
  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>

  <!-- favicons -->
  <link rel="apple-touch-icon" sizes="57x57" href="{{ "/assets/images/favicons/apple-touch-icon-57x57.png" | prepend:site.baseurl }}">
  <link rel="apple-touch-icon" sizes="60x60" href="{{ "/assets/images/favicons/apple-touch-icon-60x60.png" | prepend:site.baseurl }}">
  <link rel="apple-touch-icon" sizes="72x72" href="{{ "/assets/images/favicons/apple-touch-icon-72x72.png" | prepend:site.baseurl }}">
  <link rel="apple-touch-icon" sizes="76x76" href="{{ "/assets/images/favicons/apple-touch-icon-76x76.png" | prepend:site.baseurl }}">
  <link rel="apple-touch-icon" sizes="114x114" href="{{ "/assets/images/favicons/apple-touch-icon-114x114.png" | prepend:site.baseurl }}">
  <link rel="apple-touch-icon" sizes="120x120" href="{{ "/assets/images/favicons/apple-touch-icon-120x120.png" | prepend:site.baseurl }}">
  <link rel="apple-touch-icon" sizes="144x144" href="{{ "/assets/images/favicons/apple-touch-icon-144x144.png" | prepend:site.baseurl }}">
  <link rel="apple-touch-icon" sizes="152x152" href="{{ "/assets/images/favicons/apple-touch-icon-152x152.png" | prepend:site.baseurl }}">
  <link rel="apple-touch-icon" sizes="180x180" href="{{ "/assets/images/favicons/apple-touch-icon-180x180.png" | prepend:site.baseurl }}">
  <link rel="icon" type="image/png" href="{{ "/assets/images/favicons/favicon-32x32.png" | prepend:site.baseurl }}" sizes="32x32">
  <link rel="icon" type="image/png" href="{{ "/assets/images/favicons/favicon-194x194.png" | prepend:site.baseurl }}" sizes="194x194">
  <link rel="icon" type="image/png" href="{{ "/assets/images/favicons/favicon-96x96.png" | prepend:site.baseurl }}" sizes="96x96">
  <link rel="icon" type="image/png" href="{{ "/assets/images/favicons/android-chrome-192x192.png" | prepend:site.baseurl }}" sizes="192x192">
  <link rel="icon" type="image/png" href="{{ "/assets/images/favicons/favicon-16x16.png" | prepend:site.baseurl }}" sizes="16x16">
  <link rel="manifest" href="{{ "/assets/images/favicons/manifest.json" | prepend:site.baseurl }}">
  <link rel="mask-icon" href="{{ "/assets/images/favicons/safari-pinned-tab.svg" | prepend:site.baseurl }}" color="#5bbad5">
  <link rel="shortcut icon" href="{{ "/assets/images/favicons/favicon.ico" | prepend:site.baseurl }}">
  <meta name="apple-mobile-web-app-title" content="QEC">
  <meta name="application-name" content="QEC">
  <meta name="msapplication-TileColor" content="#2b5797">
  <meta name="msapplication-TileImage" content="{{ "/assets/images/favicons/mstile-144x144.png" | prepend:site.baseurl }}">
  <meta name="msapplication-config" content="{{ "/assets/images/favicons/browserconfig.xml" }}">
  <meta name="theme-color" content="#ffffff">

  <!-- styles -->
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
  <link href="{{ "/assets/sass/main.min.css" | prepend:site.baseurl }}" rel="stylesheet">

</head>
