{% if page.banner %} <header class="main-nav" style="top: 50px"> {% else %} <header class="main-nav"> {% endif %}
  <nav class="main-nav__container">
    <ul class="main-nav__links cf">
      <li class="navigation__link__container--left main-nav__link__container">
        <a href="{{ site.baseurl }}/" class="main-nav__link navigation__link__logo">
          <img class="navigation__logo vcenter" alt="QEC Logo" src="{{ "/assets/images/logo/qec.svg" | prepend:site.baseurl }}" alt="QEC Logo" />
          <span class="vcenter">Queen's Entrepreneurs' Competition</span>
        </a>
      </li>
      <li class="main-nav__link__container">
        <a href="#!" class="main-nav__menu-toggle">☰</a>
      </li>
      <li class="main-nav__links__group">
        <ul>
          <li class="main-nav__link__container main-nav__link__container--item">
            <a href="{{ "/history" | prepend:site.baseurl }}" class="main-nav__link">About</a>
          </li>
          <li class="main-nav__link__container main-nav__link__container--item">
            <a href="{{ "/sponsorship" | prepend:site.baseurl }}" class="main-nav__link">Sponsorship</a>
          </li>
          <li class="main-nav__link__container main-nav__link__container--item">
            <a href="{{ "/competitors" | prepend:site.baseurl }}" class="main-nav__link">Competitors</a>
          </li>
          <li class="main-nav__link__container main-nav__link__container--item">
            <a href="{{ "/community" | prepend:site.baseurl }}" class="main-nav__link">Community</a>
          </li>
          <li class="main-nav__link__container main-nav__link__container--item">
            <a href="{{ "/blog" | prepend:site.baseurl }}" class="main-nav__link">Blog</a>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
</header>
