.nav-arrow {
  color: rgb(140,140,140);
  display: block;
  font-size: 6em;
  position: fixed;
  top: calc(50% - .5em);

  &:hover {
    color: rgb(140,140,140);
    text-decoration: none;
    transform: scale(1.1);
  }

  @media screen and (max-width: 800px) {
    display: none
  }
}

.nav-arrow--right {
  right: .25em;
}

.nav-arrow--left {
  left: .25em;
}

.blog__heading {
  color: rgb(55,55,55);
  font: $light 4em/1.5 "Raleway";
  text-align: left;
  text-transform: uppercase;
}

.blog__sub-head {
  font: $regular 1.8em/1.5 "Raleway";
  color: rgb(100,100,100);
  text-align: left;
}
