// SPONSORSHIP
// -------

.sponsor-image {
  width: 55%;
  margin-top: 3em;
  margin-bottom: 4em;

  @media screen and (max-width: 991px) and (min-width: 500px) {
    width: 40%
  }
}


.sponsor-link {
  font: $bold 2em/6.4em "Raleway";
  display: block;
  height: 6.4em;
  width: 100%;
  color: rgb(147,166,185);
  text-align: center;
  text-transform: uppercase;

  &:hover, &:link, &:hover, &:active {
    text-decoration: none;
    cursor: pointer;
  }

}


.sponsor-link--blue {
  color: rgb(57,194,222);
}


.partner {
  min-width: 8em;
  border-radius: 4px;
  width: 75%;
  margin: 2em auto;
  background: rgb(255,255,255);
}


.partner__logo {
  padding: 4em 0;
}


.partner__image {
  width: 90%;
  display: block;
  margin: 0 auto;
}


.partner__image--somen {
  width: 106px;
  border-radius: 8em;
}


.partner__header {
  font: 500 1.4em "Raleway";
  text-transform: uppercase;
  text-align: center;
  padding: 0.5em;
  color: rgb(255,255,255);
}

.partner__header--small {
  font-size: 1.1em;
}

.partner--clear {
  border: 3px solid rgb(0,138,208);

  .partner__header {
    background: rgb(0,138,208);
  }

}


.partner--cibc {
  border: 3px solid #B00B1C;

  .partner__header {
    background: #B00B1C;
  }

}


.partner--somen {
  border: 3px solid #2294F2;

  .partner__header {
    background: #2294F2;
  }

}


.partner--fund-through {
  border: 3px solid rgb(97,197,188);

  .partner__header {
    background: rgb(97,197,188);
  }

}


.partner--weirfoulds {
  border: 3px solid rgb(1,113,143);

  .partner__header {
    background: rgb(1,113,143);
  }

}


.partner--toronto {
  border: 3px solid rgb(41,90,132);

  .partner__header {
    background: rgb(41,90,132);
  }

}


.partner--loyalty {
  border: 3px solid rgb(0,114,187);

  .partner__header {
    background: rgb(0,114,187);
  }

}


.partner--experience {
  border: 3px solid rgb(252,168,19);

  .partner__header {
    background: rgb(252,168,19);
  }

}


.partner--ryerson {
  border: 3px solid rgb(0,0,0);

  .partner__header {
    background: rgb(0,0,0);
  }

}


.partner--founder {
  border: 3px solid rgb(0,0,0);

  .partner__header {
    background: rgb(0,0,0);
  }

}


.partner--constellation {
  border: 3px solid rgb(1,102,171);

  .partner__header {
    background: rgb(1,102,171);
  }

}


.partner--invision {
  border: 3px solid rgb(252,55,104);

  .partner__header {
    background: rgb(252,55,104);
  }

}


.partner--dentons {
  border: 3px solid rgb(113,44,145);

  .partner__header {
    background: rgb(113,44,145);
  }

}


.partner--covintus {
  border: 3px solid rgb(29,66,136);

  .partner__header {
    background: rgb(29,66,136);
  }

}


.partner--qic {
  border: 3px solid rgb(1,42,85);

  .partner__header {
    background: rgb(1,42,85);
  }

}


.partner--awake {
  border: 3px solid rgb(254,189,16);

  .partner__header {
    background: rgb(254,189,16);
  }

}


.partner--bank {
  border: 3px solid rgb(201,153,43);

  .partner__header {
    background: rgb(201,153,43);
  }

}


.partner--bdc {
  border: 3px solid rgb(222,32,42);

  .partner__header {
    background: rgb(222,32,42);
  }

}


.partner--oneeleven {
  border: 3px solid rgb(241,89,43);

  .partner__header {
    background: rgb(241,89,43);
  }

}
